@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #3f51b5;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-greeting {
  font-size: 14px;
  margin-right: 10px;
}

.logout-bt {
  margin-right: 10px;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

.create-item-container {
  background-image: url('res/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.create-item-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
}

.create-item-button {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"],
textarea {
  font-size: 16px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.user-info li,
.user-info p,
.user-info a {
  margin-right: 20px;
}

nav ul li:first-child a img {
  width: 125px; /* Set the width as per your preference */
  height: 50px; /* Set the height as per your preference */
  margin-right: 10px;
}

.nav-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container ul li:first-child {
  align-self: flex-start;
}

/* CKEditorWidget Styles */
.ck-editor-widget {
  max-width: 100%;
  width: 100%;
}

/* Custom Input Field Styles */
.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 30px;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

.numeric-input-wrapper input[type="number"] {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
}

/* Additional Input Field Styles */
.category-input-wrapper,
.damage-input-wrapper,
.str-input-wrapper,
.dex-input-wrapper,
.attack-type-input-wrapper {
  margin-bottom: 10px;
}
