@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: #3f51b5;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-greeting {
  font-size: 14px;
  margin-right: 10px;
}

.logout-bt {
  margin-right: 10px;
  font-size: 14px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: auto;
}

.user-info li,
.user-info p,
.user-info a {
  margin-right: 20px;
}

a {
  color: inherit; /* Use the parent's color or specify a custom color */
  text-decoration: none; /* Remove underline */
}

.main {
  flex: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px; /* Отступ между карточками */
  grid-auto-rows: 1fr; /* Задаем равный вертикальный отступ */
}

.list-item {
  width: 150px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Расположение элементов в столбец */
  justify-content: flex-start; /* Выравнивание элементов в начале столбца */
}

.image-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Захват оставшегося пространства */
}

.item-link {
  display: flex;
  flex-direction: column; /* Расположение элементов в столбец */
  align-items: center; /* Выравнивание элементов по центру */
  text-align: center; /* Выравнивание текста по центру */
  padding: 10px;
}

.image-item {
  max-width: 100%;
  max-height: 100%; /* Добавил максимальную высоту */
}
