@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url('res/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: center;
}

header {
  background-color: #3f51b5;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-greeting {
  font-size: 14px;
  margin-right: 10px;
}

.logout-bt {
  margin-right: 10px;
  font-size: 14px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  color: #888;
  margin-top: auto;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-details {
  flex: 1;
}

.item-details h1 {
  text-transform: uppercase;
}

.item-details p {
  margin-top: 10px;
}

.item-image img {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

.logout-bt {
  margin-right: 10px;
  font-size: 14px;
}

.user-info p,
.user-info a {
  margin-right: 20px;
}

a {
  color: inherit;
  /* Use the parent's color or specify a custom color */
  text-decoration: none;
  /* Remove underline */
}

.item-image.big-image {
  width: 60%;
  text-align: right;
}

.item-image.big-image img {
  max-width: 100%;
  height: auto;
}

.user-info {
  display: flex;
  align-items: center;
}