{% extends 'base.html' %}
{% load static %}

{% block title %}
  Fandom Wiki on Demon's Souls - {{ category }} Category
{% endblock %}


{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home2.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <h1 class="title">{{ category|capfirst }} Category</h1>
  <main class="main">
    {% for item in items %}
      <div class="list-item">
        <a href="{% url 'item_detail' item_id=item.item_id %}" class="item-link">
        <div class="item">
          <img src="{{ item.image.url|default_if_none:'#' }}" alt="{{ item.name }}" {% if item.image %}class="item-image"{% endif %}>
          <h3>{{ item.name }}</h3>
        </div>
      </a>
    {% empty %}
      <p class="not-items">No items available in this category.</p>
    {% endfor %}
  </main>
{% endblock %}