{% load static %}

<!DOCTYPE html>
<html lang="RU">
<head>
  <title>Wiki Demon's Souls - Home</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
  <nav>
    <ul>
        {% if user.is_authenticated %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'weapon_category' %}">Weapons</a></li>
            <li><a href="{% url 'armor_category' %}">Armor</a></li>
            <li><a href="{% url 'ring_category' %}">Rings</a></li>
            <li><a href="{% url 'magic_category' %}">Magicс</a></li>
            <li><a href="{% url 'character_category' %}">Characters</a></li>
            <li><a href="{% url 'boss_category' %}">Bosses</a></li>
            <li><a href="{% url 'location_category' %}">Locations</a></li>
      {% endif %}
    </ul>
  </nav>
  {% if user.is_authenticated %}
   <div class="user-info">
         <a href="{% url 'create_item' %}"><i class="fas fa-edit"></i> Create </a>
         <p class="user-greeting"><i class="fas fa-user"></i> Hello, {{ user.username }}!</p>
         <a class="logout-bt" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
   </div>
{% else %}
   <li><a href="{% url 'login' %}">Login</a></li>
   <li><a href="{% url 'register' %}">Register</a></li>
{% endif %}

</header>


<main>
  <h1>Welcome to the Demon's Souls Fandom Wiki!</h1>
  
    <h3>TO DO</h3>
    <p> ❗️ ❗️ ❗️ РЕШИТЬ ПРОБЛЕМУ УДАЛЕНИЯ ЗАПИСЕЙ ИЗ БД ❗️ ❗️ ❗️</p>
    <p> ❗️ ❗️ДОБАВИТЬ КОММЕНТАРИИ ❗️ ❗️</p>
    <P>добавить бан пользователей (админ права)</P>
    <P>удалять статьи можно только свои</P>
    <P>добавить поиск по сайту</P>
    <P>Страница юзера с его комментами и статьями (опционально)</P>
  
</main>

<footer>
  <p>&copy; 2023 Demon's Souls Fandom Wiki. All rights reserved.</p>
</footer>
</body>
</html>
