{% extends 'base.html' %}
{% load static %}

{% block title %}
  Fandom Wiki on Demon's Souls
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/create_item.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block style %}
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
{% endblock %}


{% block content %}
  {% include 'header.html' %}
  <div class="create-item-container">
    <div class="create-item-form">
      <h1>Create Item</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="item_id" id="item-id-input">
        {{ form.as_p }}
        {{ form.media }}
        <button type="submit" class="create-item-button">Create</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('item-id-input').value = {{ item.item_id }};
    });
  </script>
  <script src="{% static 'script.js' %}"></script>
{% endblock %}