{% extends 'base.html' %}
{% load static %}

{% block title %}
  Fandom Wiki on Demon's Souls
{% endblock %}

{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_reg_styles.css' %}">
{% endblock %}

{% block style %}
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
{% endblock %}

{% block content %}
  <div class="login-container">
    <!-- Форма для входа -->
    <form method="post" class="login-form">
      <h2>Login</h2>
      {% if messages %}
      {% for message in messages %}
        <p class="error-message"><strong>{{ message }}</strong></p>
      {% endfor %}
      {% endif %}
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="login-button">Login</button>
      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
  </div>
{% endblock %}